<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      {{!-- //image changing --}}
      <img style="height:380px" src="https://images.thequint.com/thequint%2F2021-06%2Fa331eedd-ad5b-46d4-9838-b24f7837731e%2Fthequint_2018_05_e26ee1ae_cf95_44af_85d9_a21ad83bef00_Untitled_2__6_.jpeg?rect=0%2C0%2C2000%2C1125" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
           {{!-- //image changing --}}
      <img style="height:380px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9VLgWEGiufTrplnf3qGttJik2IciJv1hMzTg2fIhn2Lt0RKbEpPe2GXs6MiLePDp05BI&usqp=CAU" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
           {{!-- //image changing --}}
      <img  style="height:380px" src="https://i2.cdn.turner.com/cnnnext/dam/assets/200917161304-20200916-voting-qna-illustration-overlay-tease.png" class="d-block w-100" alt="...">
    </div>
  </div>
</div>