<div style="margin-left:200px;">


    {{#each results}}
    <div class="row">
      <div class="col-sm-3">
        <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text">{{This.candidateId}}</p>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>
    {{/each}}
   </div>