<div class="container" style="width: 400px;height:300px;border:2px solid green;margin-top:40px">
    <div style="background-color: red;">
        Enter your Adharnumber and password
    </div>
    <form action="vote" method="post">
  <div class="mb-3" style="margin-top: 10px;">
    <input placeholder="adhar number" name="adharnumber" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <input type="password" placeholder="password" name="password" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Vote Now</button>
</form>
</div>